/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* my code begins here */

html {
  box-sizing: border-box;
}

@font-face {
  font-family: Norse Bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  display: flex;
  justify-content: center;
}

.main {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  background-color: lightblue;
  flex: none;
  width: 50rem;
  height: 80rem;
}

.left>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo-body {
  display: flex;
  width: 50rem;
  height: 200px;
  position: absolute;
  background: black;
  opacity: 0.6;
  color: white;
  top: 20rem;
  font-size: 10em;
  justify-content: center;
  align-items: center;
}

.logo-body>img {
  height: 100%;
  object-fit: contain;
}

.logo-heading {
  font-family: Norse Bold;
}

.signup {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 800px;
  min-width: 500px;
}

.signup>.top {
  flex: 1 1 37%;
  background-color: pink;
  padding: 5rem 2rem 1rem;
  font-size: 1.6em;
}

.signup>.top>p:last-child {
  margin-top: 1rem;
}

.middle {
  flex: 0 1 26%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.middle>p {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 1rem;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;
}

.bottom {
  background-color: green;
  flex: 0 1 37%;
  display: flex;
  flex-direction: column;
}
