/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* my code begins here */

@font-face {
  font-family: Norse Bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 80vw;
}

.main {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  background-color: lightblue;
  flex: 0;
}

.left img {
  object-fit: contain;
  max-height: 100vh;
}

.logo-body {
  display: flex;
  position: absolute;
  width: 100%;
  background: black;
  opacity: 0.6;
  color: white;
  top: 8rem;
}

.logo-heading {
  font-family: Norse Bold;
}

.signup {
  background-color: lightgreen;
  flex: 1 0 auto;
  min-width: 800px;
}
